# FastAPI Server
fastapi
uvicorn

# LangChain Core & Integrations
langchain
langchain-community
langchain-google-genai
langchain-pinecone
pinecone-client
beautifulsoup4

# Database & Authentication
sqlalchemy
psycopg2-binary
passlib==1.7.4
bcrypt==3.2.0   
itsdangerous

# Utilities
python-dotenv
sib-api-v3-sdk
requests
email-validator
